* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.con {
    width: 1200px;
    margin: 0 auto;
}

body {
    font-size: 12px;
}

/* ******************** */
#img-box1{
    height: 187px;
}
#not-box{
    height: 32px;
}
.notice {
    clear: both;
    width: 770px;
    height: 33px;
    margin: 0 auto;
    padding: 0 199px 0 250px;
    line-height: 33px;
    overflow: hidden;
}
.notice span {
    display: block;
    float: left;
    width: 19px;
    height: 19px;
    background: url(http://photo.no5.com.cn/page_2014/images/detail.gif?v=20140610) no-repeat -409px -30px;
    margin-top: 6px;
    margin-right: 6px;
}
.notice a:hover{
    text-decoration: underline;
}